@page
@model Story.Pages.Comments.DeleteModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Creator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Creator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment.Story)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment.Story.Body)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Comment.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
</body>
</html>
